.libraries {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(229,231,235, 1);
  color: #1b1b1d;
}

.libraryImg {
  height: 96px;
  padding: 16px;
}

.blackBackground {
  background-color: #1b1b1d;
}

.textTile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 96px;
  min-width: 96px;
  padding: 16px;
  border: 2px solid #1b1b1d;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 700;
}
